{% extends 'base.html' %}

{% block content %}
  <main>
    <h1>My Projects</h1>
    <div>
      <p>
        <a href="{% url 'create_project' %}">Create a new list</a>
      </p>
      <p>
        <a href="{% url 'create_project' %}">Create a new project</a>
      </p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of items</th>
          </tr>
        </thead>
        <tbody>
          {% for list in lists %}
            <tr>
              <td>
                <a href="{% url 'list_projects' %}">{{list.name}}</a>
              </td>
              <td>{{ list_projects.tasks.all|length }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
